.puzzle {
    display: grid;
    transition: all 0.5s ease;
}

.ui {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-top: 3px dashed white;
}

.reset {
    background-color: #f39c12;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}